# adaptive>=0.11.1
# cma>=3.0.3
# deepdiff
# flake8
# gast>=0.3.3
# hjson>=3.0.2
# ipykernel
# ipython
# ipywidgets<8.0
# jupyterlab
# kaleido>=0.2.1
# nbstripout
numpy>=1.19.5
# pandas
# plotly>=5.10.0
# pre-commit>=2.7.1
# pre-commit-hooks
pulser
pytest
# pytest-asyncio
# pytest-cov>=2.11.1
# pytest-xdist>=2.2.1
# python-dateutil>=2.8.1
# qiskit>=0.36.2
# recommonmark
# rich>=9.2.0
# scipy>=1.5.2
# setuptools
# setuptools_scm
# six>=1.15.0
# sphinx==5.0.1
# sphinx_rtd_theme
# tensorflow>=2.4.1
# tensorflow-estimator>=2.4.0
# tensorflow-probability>=0.12.1
# testbook
# toolz
# tox
# wheel
